/* font Domine */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');
/* font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Lato:ital,wght@1,300&family=Montserrat&family=Oswald:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: #c0f0c0;
    font-family: Montserrat, sans-serif;
    font-size: 124%;
}
h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #009000;
    color: white;
    font-family: Domine, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: center;
}
p {
    font-size: 1.0em;
}
.attributions {
    font-size: 0.7em;
    font-style: italic;
}
.highlight-text {
    font-style: italic;
}
/* 4 Column, text and image layout */
.four-col {
    width: 100%;
}
.four-col div {
    margin: 10px 0 10px 10px;
}
.div1-4cola {
    width: 30%;
    float: left;
}
.div2-4cola {
    width: 20%;
    float: left;
}
.div3-4cola {
    width: 30%;
    float: left;
}
.div4-4cola {
    width: 20%;
    float: right;
    margin-right: 10px;
}
.section-header {
    width: 100%;
    background-color:#80b080;
    line-height: 40px;
    text-align: center;
}
/* Navigation */
nav {
    background-color: #80b080;
    height: 50px;
}
nav ul {
    float: right;
}
nav li {
    display: inline;
    margin-right: 8px;
}
nav a {
    text-decoration: none;
    font-size: 1.1em;
    line-height: 50px;
    color: black;
    background-color: #80c080;
}
nav a:hover {
    background-color: white;
}
.current-page {
    text-decoration: underline;
}
/* Introductory Section */
#introductory-div {
    width: 100%;
}
#introduction {
    width: 32%;
    float: left;
    margin: 0 0 10px 10px;
}
#introduction > p {
    margin-top: 10px;
}
#section-lookup {
    width: 31%;
    float: left;
    margin: 0 0 10px 10px;
}
#section-lookup h2 {
    text-align: center;
}
#headings-list {
    margin-top: 10px;
    list-style: none;
    text-align: center;
}
#headings-list li {
    line-height: 40px;
}
#grey-parrot-img-div {
    width: 25%;
    float: right;
    margin: 10px 10px 10px 10px;
}
#grey-parrot-inflight {
    width: 100%;
}
/* Geography Section */
#geography {
    clear: both;
}
#national-map-div {
    float: left;
    width: 18%;
    margin: 10px 0 10px 10px;
}
#national-map {
    width: 100%;
    border: 2px solid black;
}
#national-map-text-div {
    float: left;
    width: 25%;
    margin: 10px 0 10px 20px;
}
#habitat-map-div {
    float: left;
    width: 30%;
    margin: 10px 0 10px 10px;
}
#habitat-map {
    width: 100%;
    border: 2px solid black;
}
#habitat-map-text-div {
    float: right;
    width: 22%;
    margin: 10px 10px 10px 10px;
}
/* Animal Life section */
#animal-life-div {
    clear: both;
    width: 100%;
}
#animal-life-div div {
    margin: 10px 0 10px 10px;
    float: left;
}
#gorilla-pic-div {
    width: 23%;
}
#gorilla-img {
    width: 100%;
}
#animal-life-text-div {
    width: 36%;
}
#slender-snouted-crocodile-img {
    width:100%;
}
#zebra-pic-div {
    width: 37%;
    float: right;
    margin-right: 10px;
}
#zebra-img {
    width: 100%;
}
/* Habitats */
#habitats {
    clear: both;
    width: 100%;
}
#habitats-div {
    width: 100%;
}
#habitats-div > div {
    margin: 10px 0 10px 10px;
    float: left;
}
#forest-div {
    width: 32%;
}
#forest-text-div {
    width: 100%;
}
#forest-pic-div {
    width: 100%;
}
#rainforest-img {
    width: 100%;
}
#savanna-div {
    width: 32%;
}
#savanna-text-div {
    width: 100%;
}
#savanna-pic-div {
    width: 100%;
}
#savanna-img {
    width: 100%;
}
#swamp-div {
    width: 32%;
    float: right;
    margin-right: 10px;
}
#swamp-text-div {
    width: 100%;
}
#swamp-pic-div {
    width: 100%;
}
#swamp-img {
    margin-top: 26px;
    width: 100%;
}
/* Human Concerns Section */
#human-concerns {
    clear: both;
    width: 100%;
}
#human-concerns-div {
    width: 100%;
}
#human-concerns-div > div {
    margin: 10px 0 10px 10px;
    float: left;
}
#human-concerns-info-div {
    width: 32%;
}
#human-concerns-info-div p {
    margin-bottom: 10px;
}
#human-concerns-info-div li {
    margin-left: 15%;
}
#environmental-orgs-div {
    width: 32%;
    text-align: center;
}
#environmental-orgs-list {
    margin-top: 20px;
    list-style: none;
}
#environmental-orgs-list li {
    margin-bottom: 8px;
}
#tourism-div {
    width: 32%;
    float: right;
    text-align: right;
}
#tourism-div p {
    margin-bottom: 10px;
}
#tourism-orgs-list {
    list-style: none;
}
#tourism-orgs-list li {
    margin-bottom: 8px;
}

/* Media Adaptations */
@media screen and (max-width: 1200px) {
    /* Introductory Section */
    #introduction {
        width: 48%;
    }
    #section-lookup {
        width: 48%;
        float: right;
    }
    #grey-parrot-img-div {
        clear: both;
        width: 98%;
        margin: 0 10px 10px 10px;
    }
    /* Geography Section */
    #national-map-div {
        width: 30%;
    }
    #national-map-text-div {
        width: 64%;
        margin-right: 10px;
        float: right;
    }
    #habitat-map-div {
        width: 55%;
        margin-right: 10px;
        float: right;
    }
    #habitat-map-text-div {
        float: left;
        width: 40%;
    }
    /* Animal Life Section */
    #gorilla-pic-div {
        width: 35%;
    }
    #animal-life-text-div {
        width: 60%;
        float: right;
        margin-right: 10px;
    }
    #slender-snouted-crocodile-img {
        margin-top: 10px;
    }
    #zebra-pic-div {
        clear: both;
        width: 98%;
    }
    /* Habitats Section */
    #forest-div {
        width: 48%;
    }
    #savanna-div {
        width: 49%;
        float: right;
        margin-right: 10px;
    }
    #swamp-div {
        clear: both;
        width: 98%;
    }
    #swamp-text-div {
        width: 55%;
        float: left;
    }
    #swamp-pic-div {
        width: 40%;
        float: right;
    }
    /* Human Concerns Section */
    #human-concerns-info-div {
        width: 48%;
    }
    #environmental-orgs-div {
        width: 48%;
        float: right;
        margin-right: 10px;
    }
    #tourism-div {
        clear: both;
        width: 98%;
        text-align: center;
    }
 }